@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
}

#telaJogo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ececec;
    max-width: 400px;
    border:  none;
    border-bottom: 3px ridge #b4b4b4ce;
    border-right: 3px ridge #b4b4b4ce;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;

}

#tituloJogo{
    background-image: linear-gradient(to right,#4e57a5,#6bbbd3);
    text-align: center;
    color: white;
    padding: 5px;
}

#areaJogo p{
    text-align: center;
    margin: 5px 5px;
}
.areaButtons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.areaButtons > button{
    background-color: #eeeeee;
    width: 80px;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 3px ridge #b4b4b4ce;
    border-right: 3px ridge #b4b4b4ce;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    margin-bottom: 10px;
}

#areaOpcoesPlayer > button:active{
    border-top: 3px ridge #b4b4b4ce;
    border-left: 3px ridge #b4b4b4ce;
    border-right: 3px groove #ffffff94;
    border-bottom: 3px groove #ffffff94;
}

#imgOpcoes{
    background-color: white;
    margin: auto;
    width: 200px;
    height: 150px;
    outline: none;
    border:  none;
    border-top: 3px ridge #b4b4b4ce;
    border-left: 3px ridge #b4b4b4ce;
    border-right: 3px groove #ffffff94;
    border-bottom: 3px groove #ffffff94;
    margin-bottom: 10px;

}

#headerInfo{
    display: flex;
}

#headerInfo > p{
    margin: 0;
    width: 50%;
    background-color: #eeeeee;
    padding: 4px;
    outline: none;
    border: none;
    border-bottom: 3px ridge #b4b4b4ce;
    border-right: 3px ridge #b4b4b4ce;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
}

#imgResult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

#imgResult > img{
    width: 60px;
}

#btnOk{
    margin: auto;
    display: block;
    background-color: #eeeeee;
    cursor: pointer;
    width: 100px;
    padding: 4px;
    outline: none;
    border:  none;
    border-bottom: 3px ridge #b4b4b4ce;
    border-right: 3px ridge #b4b4b4ce;
    border-left: 3px solid #ffffff;
    border-top: 3px solid #ffffff;
    margin-bottom: 10px;
}

#btnOk:active{
    border-top: 3px ridge #b4b4b4ce;
    border-left: 3px ridge #b4b4b4ce;
    border-right: 3px groove #ffffff94;
    border-bottom: 3px groove #ffffff94;
}
